//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic);

// default bootstrap typography //
$font-family-source-sans: 'Source Sans Pro', sans-serif;
$font-family-sans-serif:  'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, 'Times New Roman', Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base:        $font-family-source-sans;

//Typography weights
$text-semibold: 600;
$text-heavy: 700;
$text-normal: 400;

//colors
$color-brand-primary: #0061A2;
$color-brand-secondary:#3498db;
$color-alt-brand: #7f8c8d;
$color-background: #fbfbf7;
$color-link: $color-brand-secondary;
$color-default:#ddd;
$color-success: #27ae60;
$color-danger: #e74c3c; //alizarin
$color-warning: #e67e22;//carrot

$color-brand-primary-1: $color-brand-primary, 10%;
$color-brand-primary-2: $color-brand-primary, 20%;
$color-brand-primary-3: $color-brand-primary, 30%;
$color-brand-primary-4: $color-brand-primary, 40%;
$color-brand-primary-5: $color-brand-primary, 50%;
$color-brand-primary-6: $color-brand-primary, 60%;
$color-brand-primary-7: $color-brand-primary, 70%;
$color-brand-primary-8: $color-brand-primary, 80%;
$color-brand-primary-9: $color-brand-primary, 90%;

$color-grey: #656E6C;

$color-btn-back: #9a9a9a;
$color-btn-next: #47b5d6;
$color-btn-search: #1AB998;
$color-btn-warning: #f0ad4e;
$color-btn-danger: #d9534f;
$color-btn-text: #ffffff;

$color-sidebar-success:#00c853;

$color-alert-info: #3c719b;
$color-alert-success: #74a660;
$color-alert-warning: #e88b28;
$color-alert-error: #d9534f;
$color-alert-text: #ffffff;

$color-form-background: #fdfdfd;
$color-form-text: #414141;
$color-form-focus-text: #000;
$color-form-focus-shadow: #ccc;
$color-form-focus-highlight: #1565c0;
$color-form-background: #fff;
$color-form-border: #616161;
$color-form-disabled-text: #000;
$color-form-disabled-background: #EFEFEF;
$color-form-input-addon-background: #f4f4f4;
$color-form-input-addon-text: #666;
$color-form-input-addon-text-hover: #393939;
$color-form-help-text: #F4F8FA;
$color-datepicker-today: #ecf0ff;



//controlling our margin & padding
$none: 0;
$xs: 5px;
$sm : 10px;
$md : 15px;
$lg : 20px;

// for header
$color-header-text : #a9cce3;
$color-header-nav-active: #184c6f;

$color-sidebar-nav: $color-brand-primary ;  //this defines the navi color,

$color-sidebar-nav-selected-link: #fff;  //shade( $color-sidebar-nav, 40%);
$color-sidebar-nav-selected-link-hover: tint($color-sidebar-nav,20%);

// for form
$field-side-padding: 0.6em;
$field-top-padding: 0.3em;
$input-border-radius: 3px;
$icon-width: 34px;
