%hgroup.mb20.margin-btm-lg
  .col-lg-9.col-xs-12.pad-all-none
    %h3 Your Results
    %h2.lead.margin-btm-none
      %strong.text-primary 5
      results were found for the search
  .col-lg-3.col-xs-12.float-right.text-right
    .margin-top-lg.text-left
      .cols-lg-12.cols-xs-6
        %span.search-param.margin-right-xs Depart:
        1st Jan 2014
      .cols-lg-12.cols-xs-6
        %span.search-param.margin-right-xs Return:
        10 Jan 2014
