%nav#flight-navi.navbar.navbar-inverse.navbar-fixed-top.visible-xs.visible-sm{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header.color-brand-primary-1
      %button.navbar-toggle{"data-target" => "#flightsearch", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.navbar-brand Flight Search Engine
    #flightsearch.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a.override{:href => "#"} Hotels
        %li
          %a.override{:href => "#"} Car Rentals
        %li
          %a.override{:href => "#"} Contact Us
