<!-- FIXME Hamburger navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top visible-xs visible-sm" id="flight-navi" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header color-brand-primary-1">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Flight Search Engine</span>
    </div>
    <div class="collapse navbar-collapse" id="flightsearch">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Hotels</a>
        </li>
        <li>
          <a href="#">Car Rentals</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Header -->
<header class="business-header visible-md visible-lg visible-xl">
  <div class="container pad-all-lg color-header">
    <div class="row">
      <div class="col-lg-12 margin-top-lg">
        <h1 class="color-header-font">Flight Search Engine</h1>
      </div>
    </div>
  </div>
</header>

<!-- Content section -->
<div class="container">
  <div class="row">

    <!-- Left nav bar -->
    <div class="col-lg-4 pad-all-none">
      <!-- Flight Search Widget - Enter search values -->
      <div class="well  color-background">
        <ul id="tabs" class="nav nav-tabs rounded" data-tabs="tabs">
          <li class="active"><a href="#return" data-toggle="tab">Return</a></li>
          <li><a href="#single" data-toggle="tab">One Way</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content table-bordered">

          <!-- return triptab -->
          <div class="tab-pane active" id="return">
            <div class="row margin-lft-rgt-md">
              <div class="input-group">
                <div class="form-row">
                  <label for="from" class="margin-all-none">From</label>
                  <input type="text" id="from">
                </div>

                <div class="form-row margin-top-none">
                  <label for="destination" class="margin-all-none">Destination</label>
                  <input type="text" id="destination">
                </div>

                <div class="form-row margin-top-none">
                  <label for="departuredate" class="margin-all-none">Departure Date</label>

                  <div class="cols-sm-12">
                    <div class="form-group margin-all-none">
                      <div class='input-group date margin-top-xs' id='departure-date'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row margin-top-none">
                  <label for="returndate" class="margin-all-none">Return Date</label>
                  <div class="cols-sm-12">
                    <div class="form-group margin-all-none">
                      <div class='input-group date margin-top-xs' id='return-date'>
                        <input type='text' class="form-control"/>
                      <span class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row margin-top-none">
                  <label for="passenger" class="margin-all-none">Passengers</label>
                  <input type="text" id="passengers">
                </div>

                <div class="form-row margin-top-none center">
                  <button class="btn btn-reg">Search</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Refine Flight Search - Price slider widget-->
      <div class="well color-background">
        <h4>Refine flight search</h4>

        <div class="row margin-all-lg">
          <input type="text" id="price-range" value=""/>
        </div>
        <!-- /.row -->
      </div>
    </div>

    <!-- main content -->
    <div class="col-lg-8">
      <!-- Search results -->
      <hgroup class="mb20 margin-btm-lg">
        <div class="col-lg-9 col-xs-12 pad-all-none">
          <h3>Your Results</h3>

          <h2 class="lead margin-btm-none"><strong class="text-primary">5</strong> results were found for the search
          </h2>
        </div>
        <div class="col-lg-3 col-xs-12 float-right text-right">
          <div class="margin-top-lg text-left">
            <div class="cols-lg-12 cols-xs-6">
              <span class="search-param margin-right-xs">Depart:</span> 1st Jan 2014
            </div>
            <div class="cols-lg-12 cols-xs-6">
              <span class="search-param margin-right-xs">Return:</span> 10 Jan 2014
            </div>
          </div>
        </div>
      </hgroup>

      <div class="row"></div>


      <!-- begins card -->
      <section class="col-xs-12 col-sm-6 col-md-12 pad-top-btm-md table-bordered margin-top-sm">
        <article class="search-result row pad-all-none">
          <!-- left thumbnail -->
          <div class="col-xs-12 col-sm-12 col-md-3 pad-top-md">
            <a href="#" title="Lorem ipsum" class="thumbnail margin-all-none"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum"/></a>
          </div>

          <!-- from destination -->
          <div class="cols-xs-6 cols-sm-6 cols-md-3 text-left pad-all-md">
            <strong>Departure</strong><br>
            AL-202 <br>
            PNQ > DEL <br>
            Depart: 10:00 AM <br>
            Arrive 12:00 PM <br>
          </div>

          <!-- to destination -->
          <div class="cols-xs-6 cols-sm-6 cols-md-3 margin-left-sm text-left pad-all-md">
            <strong>Arrival</strong><br>
            AL-202 <br>
            PNQ > DEL <br>
            Depart: 10:00 AM <br>
            Arrive 12:00 PM <br>
          </div>

          <!-- to destination -->
          <div class="cols-xs-12 cols-sm-12 cols-md-3 text-center" style="vertical-align: text-top">
            <h4 class="pad-right-sm">£125</h4>
            <button class="btn-small btn-reg-small margin-left-none margin-right-none">Select this flight</button>
          </div>
        </article>
      </section>
      <!-- ends card -->

      <!-- begins card -->
      <section class="col-xs-12 col-sm-6 col-md-12 pad-top-btm-md table-bordered margin-top-sm">
        <article class="search-result row pad-all-none">
          <!-- left thumbnail -->
          <div class="col-xs-12 col-sm-12 col-md-3 pad-top-md">
            <a href="#" title="Lorem ipsum" class="thumbnail margin-all-none"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum"/></a>
          </div>

          <!-- from destination -->
          <div class="cols-xs-6 cols-sm-6 cols-md-3 text-left pad-all-md">
            <strong>Departure</strong><br>
            AL-202 <br>
            PNQ > DEL <br>
            Depart: 10:00 AM <br>
            Arrive 12:00 PM <br>
          </div>

          <!-- to destination -->
          <div class="cols-xs-6 cols-sm-6 cols-md-3 margin-left-sm text-left pad-all-md">
            <strong>Arrival</strong><br>
            AL-202 <br>
            PNQ > DEL <br>
            Depart: 10:00 AM <br>
            Arrive 12:00 PM <br>
          </div>

          <!-- to destination -->
          <div class="cols-xs-12 cols-sm-12 cols-md-3 text-center" style="vertical-align: text-top">
            <h4 class="pad-right-sm">£125</h4>
            <button class="btn-small btn-reg-small margin-left-none margin-right-none">Select this flight</button>
          </div>
        </article>
      </section>
      <!-- ends card -->

      <!-- begins card -->
      <section class="col-xs-12 col-sm-6 col-md-12 pad-top-btm-md table-bordered margin-top-sm">
        <article class="search-result row pad-all-none">
          <!-- left thumbnail -->
          <div class="col-xs-12 col-sm-12 col-md-3 pad-top-md">
            <a href="#" title="Lorem ipsum" class="thumbnail margin-all-none"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum"/></a>
          </div>

          <!-- from destination -->
          <div class="cols-xs-6 cols-sm-6 cols-md-3 text-left pad-all-md">
            <strong>Departure</strong><br>
            AL-202 <br>
            PNQ > DEL <br>
            Depart: 10:00 AM <br>
            Arrive 12:00 PM <br>
          </div>

          <!-- to destination -->
          <div class="cols-xs-6 cols-sm-6 cols-md-3 margin-left-sm text-left pad-all-md">
            <strong>Arrival</strong><br>
            AL-202 <br>
            PNQ > DEL <br>
            Depart: 10:00 AM <br>
            Arrive 12:00 PM <br>
          </div>

          <!-- to destination -->
          <div class="cols-xs-12 cols-sm-12 cols-md-3 text-center" style="vertical-align: text-top">
            <h4 class="pad-right-sm">£125</h4>
            <button class="btn-small btn-reg-small margin-left-none margin-right-none">Select this flight</button>
          </div>
        </article>
      </section>
      <!-- ends card -->

      <!-- begins card -->
      <section class="col-xs-12 col-sm-6 col-md-12 pad-top-btm-md table-bordered margin-top-sm">
        <article class="search-result row pad-all-none">
          <!-- left thumbnail -->
          <div class="col-xs-12 col-sm-12 col-md-3 pad-top-md">
            <a href="#" title="Lorem ipsum" class="thumbnail margin-all-none"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum"/></a>
          </div>

          <!-- from destination -->
          <div class="cols-xs-6 cols-sm-6 cols-md-3 text-left pad-all-md">
            <strong>Departure</strong><br>
            AL-202 <br>
            PNQ > DEL <br>
            Depart: 10:00 AM <br>
            Arrive 12:00 PM <br>
          </div>

          <!-- to destination -->
          <div class="cols-xs-6 cols-sm-6 cols-md-3 margin-left-sm text-left pad-all-md">
            <strong>Arrival</strong><br>
            AL-202 <br>
            PNQ > DEL <br>
            Depart: 10:00 AM <br>
            Arrive 12:00 PM <br>
          </div>

          <!-- to destination -->
          <div class="cols-xs-12 cols-sm-12 cols-md-3 text-center" style="vertical-align: text-top">
            <h4 class="pad-right-sm">£125</h4>
            <button class="btn-small btn-reg-small margin-left-none margin-right-none">Select this flight</button>
          </div>
        </article>
      </section>
      <!-- ends card -->

    </div>
  </div>
  <!-- /.row -->
  <hr>
</div>
<!-- /.container -->

