/ begins card 1
%section.col-xs-12.col-sm-6.col-md-12.pad-top-btm-md.table-bordered.margin-top-sm
  %article.search-result.row.pad-all-none
    / left thumbnail
    .col-xs-12.col-sm-12.col-md-3.pad-top-md
      %a.thumbnail.margin-all-none{:href => "#", :title => "Lorem ipsum"}
        %img{:alt => "Lorem ipsum", :src => "http://lorempixel.com/250/140/people"}/
    / from destination
    .col-xs-6.col-sm-6.col-md-3.text-left.pad-all-md
      %strong Departure
      %br/
      AL-202
      %br/
      PNQ > DEL
      %br/
      Depart: 10:00 AM
      %br/
      Arrive 12:00 PM
      %br/
    / to destination
    .cols-xs-6.cols-sm-6.cols-md-3.margin-left-sm.text-left.pad-all-md
      %strong Arrival
      %br/
      AL-202
      %br/
      PNQ > DEL
      %br/
      Depart: 10:00 AM
      %br/
      Arrive 12:00 PM
      %br/
    / to destination
    .cols-xs-12.cols-sm-12.cols-md-3.text-center.price-btn
      %h4.pad-right-sm £125
      %button.btn-small.btn-reg-small.margin-left-none.margin-right-none Select this flight
      / ends card
