@import "globals/variables";

// demo styles
.form-container { /* for demo purposes */
  display: block;
  width: 800px;
  background-color: $color-form-background;
  color: $color-form-text;
  padding: 30px;
}

// form styles
.form-control {
  font-size: $regular !important;
}
//  /* form field layout */
label, input:not([type=submit]):not([type=file]), textarea {
  display: inline-block;
  float: left;
}
//
label {
  padding: $field-top-padding 0;
}
// /* text inputs style */
input:not([type=submit]):not([type=file]), textarea {
  border: 1px solid $color-form-border;
  border-radius: $input-border-radius;
  background-color: $color-form-background;
  padding: $field-top-padding $field-side-padding;
  resize: vertical;
}
//
input:not([type=submit]):not([type=file]):not([disabled]):focus, textarea:focus { /* text input focus style */
  border: 1px solid $color-form-focus-highlight;
  background-color: $color-form-background;
  color: $color-form-focus-text;
  box-shadow: 0 0 2px $color-form-focus-shadow;
}
//
/* makes placeholder disappear on focus */
input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color: transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color: transparent; } /* IE Support */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* Firefox 18- */
textarea:focus::-moz-placeholder { color: transparent; } /* Firefox 19+ */
textarea:focus:-ms-input-placeholder { color: transparent; } /* IE Support ;) */

///* layout stuff... for demo purposes */
.form-row {
  display: inline-block;
  width: 100%;
  margin-top: 1em;

  label {
    width: 40%;
    margin-right: 5%;
  }

  textarea {
    width: 100%;
  }

  input:not([type=submit]):not([type=file]) {
    width: 40%;
  }
}

.input-group {
  input:not([type=submit]):not([type=file]) {
    width: 100% !important;
  }
}



/*doc
---
title: fields
name: forms-1
category: forms
---

```html_example

<div class="form-container">
  <!-- Text fields -->
  <form>
    <h1> Text fields </h1>

    <div class="form-row">
      <label for="fromdestination">Flying from</label>
      <input type="text" id="fromdestination" name="fromdestination" placeholder="Enter country">
    </div>
    <div class="form-row">
      <label for="todestination">Flying to</label>
      <input type="text" id="todestination" name="todestination" placeholder="Enter Country">
    </div>
  </form>
</div>

```
*/

